
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;

  li {
    width: 100%;
    list-style: none;
    overflow: auto;

  .timeline {
    margin-left: 18%;
    width: 10%;
    .date {
      color: RGBA(213, 225, 232, 1.00);
    }
    .time {
      font-size: 25px;
      color: RGBA(108, 191, 238, 1.00);
    }

  }

  .iconcontainer {
    margin-left: 70%;
    width: 20%;
    text-align: center;
    position: relative;

    .outercircle {
      background: black;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      // You always want to "hard code" display properties so that they won't change when the overall pixels are being changed


      .innercircle {
        background: red;
        border-radius: 100%;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 6px;
        left: 6px;

        .logo {

          .fa {
            color: white;
            position: absolute;
            top: 7px;
            left: 8px;
          }

        }

      }
    }
  }

  .box {
    margin-top: 20px;
    margin-right: 15%;
    float: right;
    width: 70%;
    background: RGBA(108, 191, 238, 1.00);
    border: 1px solid black;
    border-radius: 4px;
    position: relative;

    h3::before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent #000000 transparent;
      content: "";
      position: absolute;
      top: -16px;
      left: 25px;
    }

  }

}

}

//When the screen is at least 500px, this is when the function will run
@media screen and (min-width: 500px)  {


body {
    background: lightgrey;
    position: relative;



li::before {
  background: black;
  width: 8px;
  height: 100%;
  content: " ";
  display: block;
  position: absolute;
  left: 118px;


}

.box {
}


  .timeline {
    position: absolute;
    top: 64px;
    left: -16%;
  }



  .iconcontainer {
    position: absolute;
    top: 64px;
    left: -55%;
  }

  .box {
    position:absolute;
    left: 10%;

      h3::before {
        display: none;
      }
      h3::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #000000 transparent transparent;
        content: "";
        position: absolute;
        top: 6px;
        left: -15px;
    }
  }

}
}

@media screen and (min-width: 800px) {
body {
  background: red;
}
}
